<!doctype html>
<html>
  <head>
    <title>Judge Thread</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-material@1.0.0-beta-11/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-material@1.0.0-beta-11/dist/theme/default-dark.css">
    <style>
      html, body, #dashboard-app, .md-app, .md-app-content {
        height: 100%;
        max-height: 100%;
        background: transparent !important;
      }
      .md-app-container {
        background: url(https://hack9-judge-thread.s3-eu-west-1.amazonaws.com/banner.jpg) no-repeat fixed right top/cover;
      }
      .md-card {
        opacity: 85%;
        margin-bottom: 1em;
      }
      .team-list-move {
        transition: transform 1s;
      }
      .countdown ul {
        padding: 0 10%;
      }
      .countdown li {
        display: inline-block;
        width: 24%;
        font-size: 1.8em;
        list-style-type: none;
        padding: 2em 2em 1em;
        text-transform: uppercase;
        text-align: center;
      }
      @media only screen and (max-width: 1300px) {
        .countdown ul {
          padding: 0;
        }
        .countdown li {
          width: 100%;
        }
      }

      .countdown li span {
        display: block;
        font-size: 6.5rem;
        margin-bottom: 0.3em;
        text-align: center;
      }

    </style>
  </head>
  <body>
    <div id="dashboard-app">
      <md-app md-waterfall md-mode="fixed">
        <md-app-toolbar class="">
          <div class="md-toolbar-row md-layout">
            <div class="md-title md-layout-item md-size-80">Hack9 leaderboard</div>
            <div class="md-caption md-layout-item md-size-10">
                <div v-if="user" class="md-caption">{{ user }}</div>
            </div>
            <div class="md-title md-layout-item md-size-5">
              <md-button v-if="user" @click="logout">logout</md-button>
              <md-button v-if="!user" @click="login">login</md-button>
            </div>
          </div>
        </md-app-toolbar>

        <md-app-content>
          <!-- <md-card v-if="timeLeft.seconds!==''">
            <md-card-header class="md-title md-middle countdown">
              <ul>
                <li><span>{{timeLeft.days}}</span>days</li>
                <li><span>{{timeLeft.hours}}</span>Hours</li>
                <li><span>{{timeLeft.minutes}}</span>Minutes</li>
                <li><span>{{timeLeft.seconds}}</span>Seconds</li>
              </ul>
            </md-card-header>
          </md-card> -->
          <transition-group name="team-list" tag="div">
            <md-card class="md-layout md-elevation-8" v-for="team in teams" v-bind:key="team.id" :class="{ 'md-primary': isMyTeam(team) }">
              <md-card-header class="md-layout-item">
                <div class="md-title">{{ team.name }}</div>
                <div class="md-subhead">{{ (team.members || []).join(', ') }}</div>
              </md-card-header>
              
              <md-card-content class="md-layout-item md-size-100">
                <div class="md-layout md-gutter">
                  <div class="md-layout-item md-size-33" v-if="isMyTeam(team)">
                    
                  </div>
                </div>
              </md-card-content>

              <md-card-actions class="md-layout-item md-size-40" md-alignment="left">
                <md-button v-show="isMyTeam(team) || iAmAdmin()" @click="apiUrlSettings(team)">
                  <md-icon class="md-size-2x">settings_applications</md-icon>
                </md-button>
                <md-button v-show="team.editApiUrl" @click="setApiUrl(team)">
                  <md-icon class="md-size-2x">check</md-icon>
                </md-button>
                <md-field v-show="team.editApiUrl">
                  <label>API URL</label>
                  <md-input v-model="team.apiUrl"></md-input>
                </md-field>
              </md-card-actions>

              <md-card-actions class="md-layout-item md-size-38" md-alignment="left"></md-card-actions>

              <md-card-actions class="md-layout-item md-size-20" md-alignment="right">
                <label>SCORE {{team.score}}</label>
                <md-button v-if="team.status==='ready'" @click="requestTest(team.id)">
                  <md-icon class="md-size-2x">play_arrow</md-icon>
                </md-button>
                <md-button v-if="team.status==='scheduled'">
                  <md-icon class="md-size-2x">av_timer</md-icon>
                </md-button>
                <md-button v-if="team.status==='running'">
                  <md-progress-spinner md-mode="indeterminate" :md-diameter="30"></md-progress-spinner>
                </md-button>
              </md-card-actions>
            </md-card>
          </transition-group>
        </md-app-content>
      </md-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-material@1.0.0-beta-11"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@2.2.0/build/jwt-decode.js"></script>

    <script>

      const token = new URLSearchParams(window.location.hash.replace('#', '')).get('id_token');
      if (token) {
        localStorage.setItem('token', token);
      }
      history.pushState('', document.title, window.location.pathname + window.location.search);
      
      Vue.use(VueMaterial.default);
      Vue.http.interceptors.push(function(request) {
        const token = localStorage.getItem('token');
        if (token) {
          request.headers.set('Authorization', token);
        }
        return function(response) {
          if (response.status === 401) {
            localStorage.removeItem('token');
            app.$data.user = null;
          }
        };
      });
      const cognitoUrl = 'https://hack9-2019.auth.eu-west-1.amazoncognito.com';
      const clientId = '51cehjbhil3ld480aca5as2lr5';
      const appUrl = window.location.href.replace(/\/$/,'');
      const app = new Vue({
        el: '#dashboard-app',
        data: function () {
          return {
            teams: [],
            user: this.getUser(),
            editApiUrl: false,
            timeLeft: {
              days: '',
              hours: '',
              minutes: '',
              seconds: ''
            }
          }
        },
        mounted: function () {
          this.loadResults();
          setInterval(this.loadResults, 30000);
          // this.updateTimeLeft();
          // setInterval(this.updateTimeLeft, 1000);
        },
        methods: {
          login: function () {
            window.location.href = `${cognitoUrl}/oauth2/authorize?identity_provider=levi9&redirect_uri=${appUrl}&response_type=TOKEN&client_id=${clientId}&scope=openid`;
          },
          logout: function () {
            localStorage.removeItem('token');
            window.location.href = `${cognitoUrl}/logout?logout_uri=${appUrl}&client_id=${clientId}`;
          },
          getUser: function () {
            const token = localStorage.getItem('token');
            return token ? jwt_decode(token).email : null;
          },
          loadResults: function () {
            this.$http.get(`${appUrl}/results`).then((response, status, request) => {
              this.teams = response.body.teams;
              // this.teams.push(...response.body.teams);
            });
          },
          iAmAdmin: function () {
            const token = localStorage.getItem('token');
            return token && jwt_decode(token).role === 'admin';
          },
          isMyTeam: function (team) {
            return team.members && team.members.includes(this.getUser());
          },
          apiUrlSettings: function (team) {
            if (team.editApiUrl) {
              team.editApiUrl = false;
            } else {
              if (this.iAmAdmin() || this.isMyTeam(team)) {
                this.$http.get(`${appUrl}/teams/${team.id}/apiUrl`).then((response, status, request) => {
                  Vue.set(team, 'editApiUrl', true);
                  Vue.set(team, 'apiUrl', response.body.apiUrl);
                  console.log('apiUrl get', response);
                });
              }
            }
          },
          setApiUrl: function (team) {
            this.$http.put(`${appUrl}/teams/${team.id}/apiUrl`, { apiUrl: team.apiUrl }).then((response, status, request) => {
              console.log('apiUrl set', response);
            });
          },
          requestTest: function (teamId) {
            this.$http.post(`${appUrl}/teams/${teamId}/testRequests`, { teamId: teamId }).then((response, status, request) => {
              console.log('testRequested', response);
              this.loadResults();
            });
          },
          updateTimeLeft: function () {
            const second = 1000,
                  minute = second * 60,
                  hour = minute * 60,
                  day = hour * 24;
            let distance = new Date('Dec 13, 2019 12:00:00').getTime() - new Date().getTime();
            this.timeLeft = {
              days: Math.floor(distance / (day)),
              hours: Math.floor((distance % (day)) / (hour)),
              minutes: Math.floor((distance % (hour)) / (minute)),
              seconds: Math.floor((distance % (minute)) / second)
            }
          }
        }

      });
    </script>
  
  </body>
</html>
